@using Mdms.Data.Models
@using Microsoft.CodeAnalysis.CSharp.Syntax
@{
    ViewData["Title"] = "Home Page";
}

@if (!this.User.Identity.IsAuthenticated)
{
<div class="hero-text">
    <h1 style="font-size:150px" class="font-weight-bold text-bordered">M.D.M.S.</h1>
    <h3 style="font-size:75px" class="font-weight-bold text-bordered">Maintenance Department Management Service</h3>
</div>

}
else if (!this.User.Identity.IsAuthenticated)
{
    <div class="hero-text">
        <h1 style="font-size:150px" class="font-weight-bold text-bordered">M.D.M.S.</h1>
        <h3 style="font-size:75px" class="font-weight-bold text-bordered">Maintenance Department Management Service</h3>
    </div>


}
else if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Root"))
{

}
else
{
    <div class="jumbotron bg-primary mt-3 mb-3">
        <h1 class="font-weight-bold text-white">Hello @User.Identity.Name</h1>
        <hr class="bg-white hr-2" />
        <h3 class="text-white">You are not Authorized yet !</h3>
    </div>
}
