@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="jumbotron bg-white mt-3 mb-3">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <h3>Please try again latter, if problem persists please contact administrator.</h3>
</div>
