@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="jumbotron bg-white mt-3 mb-3">
    <h1 class="text-danger">Error: @Model.StatusCode</h1>
    <h1 class="text-danger">There was an error trying to process you request.</h1>
    <h2 class="text-danger"> - Either you tried to access element that did not exists.</h2>
    <h2 class="text-danger"> - Or server was not available at the moment.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <h3><ins> Please try again, if problem persists please contact administrator.</ins></h3>
</div>
